@import url("reset.css");

@import url("fonts.css");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");


.block {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background-color: green;
}

.block__item {
  /* transform: translate(20px, 30px); */
padding: 10px;
width: 300px;
height: 300px;
margin: 0 auto;
background-color: blue;
/* scale: 0,5; */
/* transform: scale(0.5, 2); */
/* scale: 0.5 2; */
/* transform: skew(20deg); */
transform: rotate(-45deg);
transform-origin: top right;
}
.position-dif {
  background-color: darkgoldenrod;
  padding: 20px;
  max-width: 200px;
  position: relative;
  top: -20px;
  left: 0;
}
.block3D {
  margin-top: 100px;
  perspective: 300px;
  perspective-origin: center; 
  width: 300px;
  height: 300px;
  background-color: darkmagenta;
  margin: 0 auto;
}
.block3D__item {
padding: 10px;
width: 300px;
height: 300px;
background-color: red;
transform: rotateY(40deg);
}

 body {
  background: #e0f7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.scene {
  width: 400px;
  height: 200px;
  position: relative;
}

.car {
  width: 300px;
  height: 80px;
  background: #e53935;
  border-radius: 10px;
  position: absolute;
  bottom: 30px;
  left: 50px;
}

.car-top {
  width: 180px;
  height: 50px;
  background: #c62828;
  position: absolute;
  top: -40px;
  left: 60px;
  border-radius: 10px 10px 0 0;
}

.window {
  width: 50px;
  height: 30px;
  background: #bbdefb;
  position: absolute;
  top: -30px;
  border-radius: 5px;
}

.window-left {
  left: 70px;
}

.window-right {
  left: 140px;
}

.wheel {
  width: 40px;
  height: 40px;
  background: #212121;
  border-radius: 50%;
  position: absolute;
  bottom: -20px;
}

.wheel-left {
  left: 50px;
}

.wheel-right {
  right: 50px;