@import url("reset.css");

@import url("fonts.css");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");



body {
    margin: 0;
    background: #87ceeb;
    overflow: hidden;
}

 /* Дорога  */
.road {
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 120px;
    background: #555;
}

 /* Автомобіль  */
.car {
    position: absolute;
    bottom: 40px;
    left: -250px;
    width: 250px;
    height: 60px;
    background: #e63946;
    border-radius: 10px;
    animation: drive 6s linear infinite;
}

/* Дах  */
.roof {
    position: absolute;
    top: -30px;
    left: 50px;
    width: 150px;
    height: 30px;
    background: #c1121f;
    border-radius: 10px 10px 0 0;
}

 /* Вікна  */
.window {
    position: absolute;
    top: -25px;
    width: 50px;
    height: 20px;
    background: rgba(173, 216, 230, 0.8);
    border-radius: 5px;
    animation: windowOpen 4s infinite alternate;
}

.window.front {
    left: 70px;
}

.window.back {
    left: 130px;
}

/* Двері  */
.door {
    position: absolute;
    top: 10px;
    width: 45px;
    height: 40px;
    background: #d62828;
    transform-origin: left center;
    animation: doorOpen 5s infinite alternate;
}

.front-door {
    left: 60px;
}

.back-door {
    left: 120px;
}

 /* Колеса  */
.wheel {
    position: absolute;
    bottom: -20px;
    width: 40px;
    height: 40px;
    background: black;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}

.wheel.left {
    left: 30px;
}

.wheel.right {
    right: 30px;
}


@keyframes drive {
    from {
        left: -300px;
    }
    to {
        left: 100%;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes doorOpen {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(-40deg);
    }
}

@keyframes windowOpen {
    from {
        height: 20px;
    }
    to {
        height: 5px;
    }
  }