 @import url('https://fonts.googleapis.com/css2?family=Playfair:wght@400&display=swap'); @font-face {
    font-family: "Praysire";
    src: url("../fonts/Praysire\ Demo.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}  