@import url("reset.css");

@import url("fonts.css");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  /* color: #fff; */
  /* padding: 30px; */
}
.wrapper{
  min-height: 100%;
  position: relative;
  overflow: clip;
}

.header {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 background-color: aqua;
}
.header__container {
max-width: 800px;
margin: 0 auto;
}

.menu__item{
  display: inline-block;
  position: relative; 
} 

.menu__item:hover .menu__link{
  background-color: chartreuse;
} 
.menu__item:hover .menu__submenu {
  /* display: block; */
   opacity: 1; 
  visibility: visible; 
}  
.menu__item:not(:last-child){
  margin-right: 15px;
} 
.menu__link{
  font-size: 18px;
  padding: 10px;
}
.menu__link:hover {
  text-decoration: underline;
  
} 
.menu__submenu {
  position: absolute;
  top:  100%;
  left: 0;
  background-color: chartreuse; 
  /* display: none; */
  opacity: 0;
  visibility: hidden;  
} 
.submenu__item {
  margin-bottom: 15px;
}
.submenu__item:hover
.submenu__link {
  background-color: green;
}
.submenu__item:hover 
.submenu__inside{
  opacity: 1;
  visibility: visible;
} 
.submenu__inside {
  position: absolute;
  left: 100%;
  top: 50%;
  background-color: crimson;
  width: 130px;
  padding: 10px;
}
.submenu__inside {
  opacity: 0;
  visibility: hidden; 
}
.inside__link {
  margin-bottom: 5px;
}
.inside__item:not(:last-child) {
  margin-bottom: 5px;
}
.submenu__link {
  font-size: 16px;
} 
.submenu__link:hover {
  text-decoration: underline;
} 
.inside__item:hover
.inside__link{
text-decoration: underline;
}


.blocks {
  /* position: relative; */
  /* height: 200px; */
}
.blocks--margin{
  margin-bottom: 30px;
}
.blocks__item {
  text-align: center;
  padding: 15px;
}
.blocks__item--brown{
  background-color: brown;
  /* position: fixed;
  left: 0;
  right: 0;
  top: 2px; */
  /* position: sticky;
  top: 2px; */
}
.blocks__item--purpule{
  background-color: purple;
  /* position: sticky; */
  /* top: 5px;  */
  /* position: fixed; */
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0; */
  /* top: 10px;
  left: 50px; */
 /* position: relative; */
 /* top: 20%; */
  /* top: -20px;
  left: 50px;  */
  /* z-index: -1;  */
}
.blocks__item--green{
  background-color: green;
}
.list{
padding-top: 5px;
}
.list__item{
  position: relative;
  padding-left: 40px;
   min-height: 30px;
   line-height: 1.2;
}
.list__item:not(:last-child){
  margin-bottom: 15px;
}
.list__item::before {
  content: "";
  /* min-height: 30px; */
  background: url(..//img/email.svg) 0 0 / 100%;
  width: 30px;
  height: 30px;
 position: absolute; 
 left: 0;
 top: -6px;
 transition: all 0.3s;
}
.list__item:hover::before{
  rotate: 360deg;
}










 .info-bao {
  margin-bottom: 100px;
 }
 .info-bao__container {
  max-width: 1000px;
  margin: 0 auto;
 }
 .info-bao__title--margin {
  margin-bottom: 48px;
 }
 .info-bao__title {
  text-align: center;
  font-family: "Playfair", serif;
  font-weight: 400;
  font-size: 20px;
  color: black;
  line-height: 1.35;
 }
 .info-bao__content {
  font-size: 0;
 }
 .card {
  margin-bottom: 77px;
 }
 .card__item {
  display: inline-block;
  position: relative;
 }
 .card__item:not(:last-child) {
  margin-right: 123px;
 }
 .card__item:hover::before{
  opacity: 1;
  visibility: visible;
 } 
 .card__item::before {
    content: "";
    background-color: rgba(33, 32, 32, 0.579);
    height: 315px;
    width: 251px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 0;
} 

 .card__item--first {
  background: url(../img/Cleanser.webp) center / 251px 315px no-repeat;
  height: 315px;
  width: 251px;
 }
 .card__item--first::before {
   content: "";
    background-color: rgba(33, 32, 32, 0.579);
    height: 315px;
    width: 251px;
    position: absolute;

 }

 .card__item--second {
  background: url(../img/eye-patches.webp) center / 251px 315px no-repeat;
   height: 315px;
  width: 251px;
 }
 .card__item--third {
background: url(../img/mask.webp);
    height: 315px;
  width: 251px;
 }
 .card__item p {
    font-family: "Playfair", serif;
    font-weight: 400;
    font-size: 28px;
    color: #ffffff;
    width: 150px;
    position: relative;
    top: 133px;
    left: 64px;
    text-align: left;
    line-height: 1.3;
 }
 .card__link {
    font-family: "Playfair", serif;
    font-weight: 400;
    font-size: 17px;
    color: #ffffff;
    position: absolute;
    left: 105px;
    top: 280px;
 }
 .info-bao__link {
  width: 100%;
  line-height: 1.36;
  padding: 10px 10px;
  position: relative;

 }
 .info-bao__btn {
    text-align: center;
    font-family: "Playfair", serif;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    max-width: 133px;
    margin: 0 auto;
    border: 1px solid black;
    height: 39px;
    position: relative;
}
.info-bao__btn::before {
    content: "";
    background-color: rgba(55, 54, 54, 0.342);
    position: absolute;
    width: 100%;
    width: 133px;
    height: 39px;
    display: none; 
}
.info-bao__btn:hover::before {
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
a:hover {
  text-decoration: underline;
}
 