@import url("reset.css");

@import url("fonts.css");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

[class*="__container"] {
    max-width: 1392px;
    margin: 0 auto;
    padding: 0 15px;
}
body {
    font-family: "Lato", serif;
    color: #2f302c;
    line-height: 1.25;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    padding: 15px 0;
    background-color: rgb(143, 189, 235);
    z-index: 100;
    height: 50px;
    opacity: 0.9;
    margin-bottom: 50px;
}
.product {
    margin-bottom: 182px;
}
.product__wrapper{
    padding: 82px 0;
}
.product__title {
    margin-bottom: 36px;
}
.title {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.product__menu {
    margin-bottom: 72px;
}
.menu__list {
    display: flex;
    flex-direction: row;
    gap: 48px;
    justify-content: center;
    font-weight: 700;
}
li {
    list-style: none;
}
.menu__link {
    position: relative;
    display: inline-block;
    text-transform: uppercase ;
}
a {
    text-decoration: none;
    color: inherit;
}
.card-product:hover {
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.product__list {
    margin: 0 -15px;
    display: flex;
    row-gap: 72px;
    column-gap: 32px;
    flex-wrap: wrap;
}
.card-product {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 0 1 calc(100% / 3 - ((32px * (3 - 1)) / 3));
    transition: all 0.3s;
}

.card-product__image img {
    width: 100%;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
.card-product__body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
    flex-grow: 1;
    padding: 0 10px 20px;
}
.card-product__title {
    font-weight: 500;
    flex-grow: 1;
}
.card-product__image {
    overflow: hidden;
}
.card-product__price p {
    font-size: 20px;
    font-weight: 900;
}
.choose {
    padding: 82px 0;
    margin-bottom: 72px;
}
.choose__container {
    max-width: 1210px;
}
.choose__title {
    margin-bottom: 72px;
}
.choose__list {
    display: flex;
    gap: 68px;
    flex-wrap: wrap;
}
.choose__item {
    flex: 0 1 calc(100% / 3 - ((68px * (3 - 1)) / 3));
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    text-align: center;
    min-width: 300px;
}
.card-choose__image {
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    overflow: hidden;
}
.card-choose__image img {
    width: 100%;
    object-fit: cover;
}
.card-choose__title {
    font-weight: 700;
    cursor: pointer;
}
.card-choose__description p {
    font-weight: 500;
    opacity: 0.6;
}