@import url("reset.css");                

@import url("fonts.css"); 

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');





body {
    font-family: Lato, sans-serif;
}


.section {
    max-width: 1920px;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 82px;
}

h1 {
    font-size: 32px;
    font-weight: ExtraBold;
    color: #2F302C;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 72px;
}
.items {
    font-size: 0;  
    margin-left: -34px; 
    margin-right: -34px;
}

.item_card {
    /* padding-left: 34px; 
    padding-right: 34px;  */
    display: inline-block;
    width: 33.333%;
    vertical-align: top;
    font-size: 16px;
    text-align: center;
    
    
    
}
h4 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #2F302C;
    margin-bottom: 24px;
}

.item_img {
    width: 60px;
    height: 60px;
    margin: 0 auto 24px;
}

.content {
    margin-bottom: 68px;
    color: #7E7F7C;
}




